.tasks:not(:last-of-type) {
  margin-bottom: 40px;
}
.tasks a {
  text-decoration: none;
}
.tasks__title {
  display: flex;
  position: relative;
  font-family: Montserrat, serif;
  font-size: 32px;
  font-weight: bold;
  line-height: 39px;
  color: #64C4ED;
  padding-bottom: 20px;
  border-bottom: 1px solid #dbdbdb;
}
.tasks__title:hover img {
  opacity: 0.2;
}
.tasks img {
  cursor: pointer;
  opacity: 0;
  margin-left: 15px;
}
.tasks img:hover {
  opacity: 1;
}
.tasks__nav-tabs {
  display: flex;
  border-bottom: 1px solid #dbdbdb;
  align-items: flex-end;
}
.tasks__nav-tabs .badge_number {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #C9D1D3;
}
.tasks__nav-tabs .badge_number span {
  font-size: 8px;
  font-weight: bold;
}
.tasks__nav-tabs li {
  display: flex;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  margin-bottom: -1px;
  border: 1px solid transparent;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.tasks__nav-tabs li:hover {
  border: 1px solid #ecebeb;
}
.tasks__nav-tabs li.active {
  border: 1px solid #dbdbdb;
  border-bottom: 1px solid #fff;
}
.tasks__items {
  margin-top: 30px;
  position: relative;
}
.tasks__items h2 {
  position: relative;
  top: 50%;
  text-align: center;
  font-family: Montserrat, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 39px;
  color: #C9D1D3;
}
.tasks__items-row {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.tasks__items-row:hover .tasks__items-row-actions {
  opacity: 0.4;
}
.tasks__items-row-actions {
  display: flex;
  opacity: 0;
  transition: opacity 0.15s ease-in-out;
}
.tasks__items-row-actions div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: #fafbfc;
  border-radius: 6px;
  margin-left: 5px;
  cursor: pointer;
}
.tasks__items-row-actions div:hover {
  background-color: #eef1f4;
}
.tasks__items-row-actions div:hover svg {
  opacity: 0.9;
}
.tasks__items-row-actions div svg {
  opacity: 0.4;
  transition: opacity 0.15s ease-in-out;
}
.tasks__items-row input {
  margin-left: 15px;
  border: 0;
  font-size: 16px;
  width: 100%;
}
.tasks__form {
  margin-top: 40px;
}
.tasks__form-new {
  display: flex;
  align-items: center;
  cursor: pointer;
  opacity: 0.4;
  transition: opacity 0.2s ease-in-out;
}
.tasks__form-new:hover {
  opacity: 0.7;
}
.tasks__form-new img {
  width: 16px;
  height: 16px;
  opacity: 0.7;
  margin-left: 5px;
}
.tasks__form-new img:hover {
  opacity: 0.7;
}
.tasks__form-new span {
  font-size: 16px;
  margin-left: 19px;
}
.tasks__form-block button {
  margin-top: 15px;
  margin-right: 10px;
}

.tasks__items-row-attitude {
  display: flex;
}
.tasks__items-row-attitude input {
  display: none;
}
.tasks__items-row-attitude label {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 2px solid #e8e8e8;
  border-radius: 30px;
  width: 20px;
  height: 20px;
}
.tasks__items-row-attitude label:not(:last-child) {
  margin-right: 5px;
}
.tasks__items-row-attitude label img {
  position: relative;
  right: 7px;
}
.tasks__items-row-attitude label:hover {
  background-color: #f2f2f2;
  transition: background-color 0.25s ease-in-out, border-color 0.25s ease-in-out;
}
.tasks__items-row-attitude label:hover img {
  transition: opacity 0.25s ease-in-out, filter 0.5s ease-in-out;
  opacity: 0.4;
  filter: invert(0);
}
.tasks__items-row-attitude label:active {
  background-color: #4dd599;
  border-color: #4dd599;
  transition: background-color 0.25s ease-in-out, border-color 0.25s ease-in-out;
}
.tasks__items-row-attitude label:active img {
  transition: opacity 0.25s ease-in-out;
  opacity: 1;
  filter: invert(1);
}

/*# sourceMappingURL=tasks.css.map */
