.tasks {

  &:not(:last-of-type) {
    margin-bottom: 40px;
  }

  a {
    text-decoration: none;
  }

  &__title {
    display: flex;
    position: relative;
    font-family: Montserrat, serif;
    font-size: 32px;
    font-weight: bold;
    line-height: 39px;
    color: #64C4ED;
    padding-bottom: 20px;
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 20px;

    &:hover {
      img {
        opacity: 0.2;
      }
    }
  }

  img {
    cursor: pointer;
    opacity: 0;
    margin-left: 15px;

    &:hover {
      opacity: 1;
    }
  }

  &__nav {
    &-tabs {
      display: flex;
      border-bottom: 1px solid #dbdbdb;
      align-items: flex-end;

      .badge_number {
        margin-left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: #C9D1D3;

        span {
          font-size: 8px;
          font-weight: bold;
        }
      }

      li {
        display: flex;
        padding: 10px;
        margin-top: 10px;
        cursor: pointer;
        margin-bottom: -1px;
        border: 1px solid transparent;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

        &:hover, {
          border: 1px solid #ecebeb;
        }

        &.active {
          border: 1px solid #dbdbdb;
          border-bottom: 1px solid #fff;
        }
      }
    }
  }

  &__items {
    margin-top: 30px;
    position: relative;

    h2 {
      position: relative;
      top: 50%;
      text-align: center;
      font-family: Montserrat, serif;
      font-style: normal;
      font-weight: bold;
      font-size: 22px;
      line-height: 39px;


      color: #C9D1D3;
    }

    &-row {
      display: flex;
      align-items: center;
      margin-bottom: 15px;

      &:hover &-actions {
        opacity: 0.4;
      }

      &-actions {
        display: flex;
        opacity: 0;
        transition: opacity 0.15s ease-in-out;

        div {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 32px;
          height: 32px;
          background-color: lighten(#f4f6f8, 2%);
          border-radius: 6px;
          margin-left: 5px;
          cursor: pointer;

          &:hover {
            background-color: darken(#f4f6f8, 2%);

            svg {
              opacity: 0.9;
            }
          }

          svg {
            opacity: 0.4;
            transition: opacity 0.15s ease-in-out;
          }
        }
      }

      input {
        margin-left: 15px;
        border: 0;
        font-size: 16px;
        width: 100%;
      }
    }
  }

  &__form {
    margin-top: 40px;

    &-new {
      display: flex;
      align-items: center;
      cursor: pointer;
      opacity: 0.4;
      transition: opacity 0.2s ease-in-out;

      &:hover {
        opacity: 0.7;
      }

      img {
        width: 16px;
        height: 16px;
        opacity: 0.7;
        margin-left: 5px;

        &:hover {
          opacity: 0.7
        }
      }

      span {
        font-size: 16px;
        margin-left: 19px;
      }
    }

    &-block {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 400px;

      button {
        width: 200px;
        margin-right: 10px;
      }
    }
  }
}

.tasks__items-row-attitude {
  display: flex;

  input {
    display: none;
  }

  label {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 2px solid #e8e8e8;
    border-radius: 30px;
    width: 20px;
    height: 20px;

    &:not(:last-child) {
      margin-right: 5px;
    }

    img {
      position: relative;
      right: 7px;
    }

    &:hover {
      background-color: #f2f2f2;
      transition: background-color 0.25s ease-in-out, border-color 0.25s ease-in-out;

      img {
        transition: opacity 0.25s ease-in-out, filter 0.5s ease-in-out;
        opacity: 0.4;
        filter: invert(0);
      }
    }

    &:active {
      background-color: #4dd599;
      border-color: #4dd599;
      transition: background-color 0.25s ease-in-out, border-color 0.25s ease-in-out;

      img {
        transition: opacity 0.25s ease-in-out;
        opacity: 1;
        filter: invert(1);
      }
    }
  }
}
